.container-fluid{
    background: #ede7d7;
    position: relative;
    padding: 0 !important;
}
.shape{
    position: absolute;
    top: -20%;
    left: 30%;
    animation: shape 6s linear infinite;
}
.shape-2{
    position: absolute;
    top: -0%;
    left: 20%;
    animation: shape 10s linear infinite 0.5s;
}
.shape-3{
    position: absolute;
    top: 30%;
    left: 20%;
    animation: shape 8s linear infinite 1s;
}
.shape-4{
    position: absolute;
    top: 50%;
    left: 10%;
    animation: shape 6s linear infinite 0.8s;
}

@keyframes shape{
    0%{
        transform: scale(0);
    }
    50%{
        transform:scale(1) rotate(50deg) translateX(150px) translateY(250px);
        opacity:0.5;
    }
    100%{
        transform:scale(1.2) rotate(100deg) translateX(300px) translateY(400px);
        opacity: 0;
    }
}
.header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    text-align: right;
    position: relative;
    z-index: 1;
}
.navbar{
    text-align: left;
}
.nav-link{
    color: rgb(36, 35, 35);
    font-size: 1.5vw;
    padding: 0px 25px !important;
}
.contact-us{
    padding: 10px 25px;
    background: #ef4230;
    color: #fff;
    font-weight: 600;
    transition: 0.8s;
    text-decoration: none !important;
}
.btn{
    border: 2px dashed #515155 !important;
}
.banner{
    padding: 30px;
    position: relative;
    z-index: 1;
}
.top-title{
    display: flex;
    justify-content:end;

}
.title{
    width: 70%;
    float: right;
    text-align: left;
    margin-right: -80px;
    margin-top: 50px;
    height: 220px;
    padding: 30px !important;
    background: #ef4230;
    color: #fff;
    box-sizing: border-box;
}
.title h1{
    border-bottom: 4px dashed #fff;
    font-size: 3vw;
}
.title p{
    border-bottom: 4px dashed #fff;
    font-size: 1.2vw;
}
.title:hover{
    width: 100%;
    height: 25vw;
    transition: 0.8s;
    margin-bottom: 30px;
    margin-top: 0;
    filter: grayscale(100%);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.71); 
box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.71);
}
.title:hover .peragraph{
    overflow: scroll;
    height: 18vw;
    transition: 0.9s;
 
}
.dp:hover{
    filter: grayscale(100%);
    transition: 0.7s;
}
.peragraph{
    width: 98%;
    height: 100px;
    overflow: hidden;
}
.title-container{
    height: 20vw;
    margin-left: 200px;
}
.user-comment{
    width: 40%;
    margin-left: 120px;
    margin-top: 6vw;
}
.user-comment h1{
    font-size: 5vw;
    color: #515155;
    font-weight: bold;
}
.user-comment p{
    font-size: 1.5vw;
    color: #515155;
}

.news{
    background: #ef4230;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    position: relative;
    z-index: 1;
    align-items: center;
}
.news-text{
    padding: 0px 50px;
}
.news-cover{
    filter: grayscale(100%);
    margin-top: 30px;
}
.news-cover:hover{
    filter: grayscale(0%);
    transition: 0.6s;
    cursor: pointer;
}
.btn-1{
    border: none;
    padding: 10px 30px;
    margin-top: 50px;
}
.news-text h1{
    font-size: 5vw;
}
.news-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,400px));
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 50px;
    background: transparent !important;
    padding: 50px 0px;
}
.card{
    padding:0px 30px;
    margin-top: 40px;
    background: transparent !important;
    border: none !important;
    border-left:3px solid #ef4230 !important ;
    border-right:3px solid #ef4230 !important ;
}
.card-img{
    text-align: center;
    margin-bottom: 30px;
}
.card-text{
    text-align: left;
}
.more{
    display: none;
}
.card-text h1{
    color: #ef4230;
    font-weight: bold;
}
@media (max-width:1160px)
{
    .shape,.shape-2,.shape-3,.shape-4{
        width: 20vw;
    }
    .title{
        width: 100%;  
        padding: 20px; 
    }
    .title h1{
        font-size: 4vw;
    }
    .title p{
        font-size: 2vw;
        padding-bottom: 20px;
    }
    .title-container{
        height: 30vw;
        margin-left: 00px;
    }
    .title:hover{
        width: 100%;
        height: 30vw;
    }
    .title:hover .peragraph{
        overflow: scroll;
        height: 18vw;
    }
    .peragraph{
        width: 98%;
        height: 100px;
        overflow: hidden;
    }
}

@media (max-width:810px)
{
    .title{
        width: 100%;  
        padding: 20px; 
    }
    .title-container{
        height: 40vw;
        margin-left: 00px;
    }
    .title:hover{
        width: 100%;
        height: 40vw;
    }
    .title:hover .peragraph{
        overflow: scroll;
        height: 28vw;
    }
    .peragraph{
        width: 98%;
        height: 100px;
        overflow: hidden;
    }
    .user-comment{
        margin-top: 100px;
    }
    .nav-link{
        color: rgb(36, 35, 35);
        font-size: 2.5vw;
        padding: 0px 25px !important;
    }
}
@media (max-width:600px){
    .title{
        margin-top: 0px;
    }
    .title-container{
        height: 40vw;
        margin-left: 00px;
    }
    .title:hover{
        width: 100%;
        height: 45vw;
    }
    .title:hover .peragraph{
        overflow: scroll;
        height: 28vw;
    }
    .peragraph{
        width: 98%;
        height: 100px;
        overflow: hidden;
    }
    .user-comment{
        margin-top: 100px;
    }
    .banner{
        padding: 0px;
    }
    .title p{
        font-size: 2.5vw;
        padding-bottom: 20px;
    }
    #news-pera{
        height: 15vw;
        overflow: hidden;
        margin-top: 10px;
    }
    .btn-1{
        margin-top: 20px;
    }
}

@media (max-width:500px){
    .title{
        margin-top: 0px;
        height: 45vw;
    }
    .title-container{
        height: 40vw;
        margin-left: 00px;
    }
    .title:hover{
        width: 65vw;
        height: 50vw;
    }
    .title:hover .peragraph{
        overflow: scroll;
        height: 28vw;
    }
    .peragraph{
        width: 98%;
        height: 100px;
        overflow: hidden;
    }
    .user-comment{
        margin-top: 50px;
    }
    .banner{
        padding: 0px;
    }
    .title h1{
        font-size: 4vw;
    }
    .title p{
        font-size: 3vw;
        padding-bottom: 20px;
    }
    .nav-link{
        color: rgb(36, 35, 35);
        font-size: 3vw;
        padding: 0px 25px !important;
    }
}